Flow 2.txt
[{"id":"a1690015.a3ad1","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"925a2c22.f0723","type":"inject","z":"a1690015.a3ad1","name":"Poll for Light values every 3 seconds","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":"","x":190,"y":40,"wires":[["40dd7b68.03e974"]]},{"id":"40dd7b68.03e974","type":"pimcp3008","z":"a1690015.a3ad1","name":"MCP3008","pin":0,"dnum":0,"x":163,"y":107.80003547668457,"wires":[["5da51af.b5051e4"]]},{"id":"5da51af.b5051e4","type":"function","z":"a1690015.a3ad1","name":"Convert ADC values","func":"converted = (1024-parseInt(msg.payload))\nglobal.set('light',converted)\nmsg.payload = 'Light Level:'+converted\nreturn msg;","outputs":1,"noerr":0,"x":184.89999389648438,"y":161.99999618530273,"wires":[["78051c7a.8c2344"]]},{"id":"78051c7a.8c2344","type":"mqtt out","z":"a1690015.a3ad1","name":"","topic":"sensors/light","qos":"","retain":"","broker":"f3b16eb9.1fb43","x":202.00005340576172,"y":224,"wires":[]},{"id":"1d5fe336.f58f7d","type":"inject","z":"a1690015.a3ad1","name":"Poll for Temp values every 3 seconds","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":"","x":570,"y":40,"wires":[["2db92ff5.9e6c7"]]},{"id":"2db92ff5.9e6c7","type":"pimcp3008","z":"a1690015.a3ad1","name":"MCP3008","pin":"0","dnum":0,"x":543,"y":107.80003547668457,"wires":[["7a627a95.8ef9d4"]]},{"id":"7a627a95.8ef9d4","type":"function","z":"a1690015.a3ad1","name":"Convert ADC values","func":"converted = ((parseInt(msg.payload)* 330)/1023)-100\nglobal.set('temperature',converted)\nmsg.payload = 'Temperature Level:'+converted\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["971ea981.f48f78"]]},{"id":"971ea981.f48f78","type":"mqtt out","z":"a1690015.a3ad1","name":"","topic":"sensors/Temperature","qos":"","retain":"","broker":"f3b16eb9.1fb43","x":612.0000534057617,"y":224,"wires":[]},{"id":"bd135b63.839f18","type":"inject","z":"a1690015.a3ad1","name":"Poll for Humidity values every 3 seconds","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":"","x":200,"y":300,"wires":[["a951634f.fade2"]]},{"id":"a951634f.fade2","type":"pimcp3008","z":"a1690015.a3ad1","name":"MCP3008","pin":"0","dnum":0,"x":163,"y":367.80003547668457,"wires":[["baa6d95e.0f3018"]]},{"id":"baa6d95e.0f3018","type":"function","z":"a1690015.a3ad1","name":"Convert ADC values","func":"converted = ((4095-parseFloat(msg.payload))/4095)*100;\nglobal.set('humidity',converted)\nmsg.payload = 'humidity Level:'+converted\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":420,"wires":[["d9a76594.c80538"]]},{"id":"d9a76594.c80538","type":"mqtt out","z":"a1690015.a3ad1","name":"","topic":"sensors/humidity","qos":"","retain":"","broker":"f3b16eb9.1fb43","x":190,"y":480,"wires":[]},{"id":"f3b16eb9.1fb43","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"/topic/test","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]