Flow 3.txt
[{"id":"46b4dbbe.bdcae4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"97f8854e.0faf18","type":"http response","z":"46b4dbbe.bdcae4","name":"Webpage","statusCode":"","headers":{},"x":900,"y":260,"wires":[]},{"id":"c9ff55c4.bead78","type":"http in","z":"46b4dbbe.bdcae4","name":"Get Light,Temperature and Humidity ","url":"/sensors/CA2","method":"get","upload":false,"swaggerDoc":"","x":200,"y":380,"wires":[["17a07e94.3761d1"]]},{"id":"17a07e94.3761d1","type":"template","z":"46b4dbbe.bdcae4","name":"Update every 3 seconds","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js\"></script>\n    <script>\n    function updatelight(){\n            url = \"http://\" + window.location.host + \"/getlight\"\n            $.ajax({url:url ,\n                    success: function(result){\n                                  output = \"Time is \" + new Date();\n                                  output += \"<br/>\" + result;\n                                  $(\"#status\").html(output);\n                                  }\n                  })\n    }\n    \n    function updatetemperature(){\n            url = \"http://\" + window.location.host + \"/gettemp\"\n            $.ajax({url:url ,\n                    success: function(Temp){\n                                  tempoutput = Temp;\n                                  $(\"#Temp\").html(tempoutput+\"C\");\n                                  console.dir(Temp);\n                                  }\n                  })\n    }\n    \n    function updatehumidity(){\n            url = \"http://\" + window.location.host + \"/gethumidity\"\n            $.ajax({url:url ,\n                    success: function(Humi){\n                                  Humioutput = Humi;\n                                  $(\"#Humi\").html(Humioutput+\" %\");\n                                  console.dir(Humi);\n                                  }\n                  })\n    }\n          \n    $(document).ready(function() {\n         setInterval(function () {updatelight()},3000)\n         setInterval(function () {updatetemperature()},3000)\n         setInterval(function () {updatehumidity()},3000)\n    });\n    </script>\n    </head>\n    \n    <body>\n        <div id=\"status\"></div>\n        <div id=\"Temp\"></div>\n        <div id=\"Humi\"></div>\n    </body>\n    \n    \n</html>\n","output":"str","x":550,"y":360,"wires":[["97f8854e.0faf18"]]},{"id":"1a5a8388.f1355c","type":"function","z":"46b4dbbe.bdcae4","name":"Get Light (One-time)","func":"var l = global.get('light');\nmsg.payload =   {'light': l};\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["bfe51564.7ff7e8"]]},{"id":"bfe51564.7ff7e8","type":"template","z":"46b4dbbe.bdcae4","name":"Show current light value","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>Light Values</title>\n</head>\n\n<body>\n{{#payload.light}}\nCurrent light value is: {{payload.light}}\n{{/payload.light}}\n</body>\n\n</html>\n","output":"str","x":590,"y":220,"wires":[["97f8854e.0faf18"]]},{"id":"c08388ca.b81618","type":"http in","z":"46b4dbbe.bdcae4","name":"Get Light (One-time) ","url":"/getlight","method":"get","upload":false,"swaggerDoc":"","x":130,"y":220,"wires":[["1a5a8388.f1355c"]]},{"id":"589f9975.f1e0d8","type":"http in","z":"46b4dbbe.bdcae4","name":"Get Temperature","url":"/gettemp","method":"get","upload":false,"swaggerDoc":"","x":120,"y":140,"wires":[["e07b5d0d.68068"]]},{"id":"e07b5d0d.68068","type":"function","z":"46b4dbbe.bdcae4","name":"Get Temperature","func":"var t = parseInt(global.get('temperature'));\nmsg.payload =   {'temperature': t};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["7998aa94.80bb54"]]},{"id":"7998aa94.80bb54","type":"template","z":"46b4dbbe.bdcae4","name":"Show Current Temperature Values","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>Temperature Values</title>\n</head>\n\n<body>\n{{#payload.temperature}}\nCurrent temperature value is: {{payload.temperature}}\n{{/payload.temperature}}\n</body>\n\n</html>","output":"str","x":680,"y":140,"wires":[["97f8854e.0faf18"]]},{"id":"2305c089.34de9","type":"http in","z":"46b4dbbe.bdcae4","name":"Get Humidity","url":"/gethumidity","method":"get","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[["2b1b5eeb.f58872"]]},{"id":"2b1b5eeb.f58872","type":"function","z":"46b4dbbe.bdcae4","name":"Get Humidity","func":"var t = parseInt(global.get('humidity'));\nmsg.payload =   {'humidity': t};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["ebcf8bc7.b653b8"]]},{"id":"ebcf8bc7.b653b8","type":"template","z":"46b4dbbe.bdcae4","name":"Show Current HumidityValues","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n    <title>Temperature Values</title>\n</head>\n\n<body>\n{{#payload.humidity}}\nCurrent humidity value is: {{payload.humidity}}\n{{/payload.humidity}}\n</body>\n\n</html>","output":"str","x":690,"y":60,"wires":[["97f8854e.0faf18"]]}]